<div layout-xs="column">
    <p class="md-headline">Components</p>
    <div layout="row" layout-xs="column">

        <div layout="column">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>AngularJS</strong></span>
                        <span class="md-subhead">MVW framework</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">
                        AngularJS is what HTML would have been, had it been designed for building web-apps.
                        Declarative templates with data-binding, MVW, MVVM, MVC, dependency injection and great
                        testability story all implemented with pure client-side JavaScript!
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="https://angularjs.org/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/angular/angular.js"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="https://material.angularjs.org/latest/img/icons/angular-logo.svg"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>Angular Material</strong></span>
                        <span class="md-subhead">JS/UI framework</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">
                        Angular Material is the reference implementation of Google's Material Design Specification.
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="https://material.angularjs.org/latest/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/angular/material"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="https://design.google.com/images/favicons/apple-icon-180x180.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>Material Icons</strong></span>
                        <span class="md-subhead">Icons</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">
                        Material icons are beautifully crafted, delightful, and easy to use in your web, Android, and iOS projects.
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="https://design.google.com/icons/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/google/material-design-icons"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="https://angular-ui.github.io/logo/UI_Shield.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>UI Router</strong></span>
                        <span class="md-subhead">Routing</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">The de-facto solution to flexible routing with nested views in AngularJS.</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="https://angular-ui.github.io/ui-router/site/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/angular-ui/ui-router"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="http://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>Sass</strong></span>
                        <span class="md-subhead">CSS</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="http://sass-lang.com/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/sass/sass"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>

        </div>
        <div layout="column">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="https://nodejs.org/static/images/logos/nodejs.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>Node.js</strong></span>
                        <span class="md-subhead">Back-end interface</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">Node.js is an open-source, cross-platform runtime environment for developing server-side Web applications.</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="https://nodejs.org/en/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/nodejs/node"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Expressjs.png/200px-Expressjs.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>Express</strong></span>
                        <span class="md-subhead">JS framework</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">Fast, unopinionated, minimalist web framework for Node.js.</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="http://expressjs.com/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/expressjs/express"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>


            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/45/MongoDB-Logo.svg/320px-MongoDB-Logo.svg.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>MongoDB</strong></span>
                        <span class="md-subhead">NoSQL database</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">MongoDB is the next-generation database that lets you create applications never before possible.</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="https://www.mongodb.com/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/mongodb/mongo"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="http://mongodb-tools.com/img/mongoose.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>Mongoose</strong></span>
                        <span class="md-subhead">MongoDB tool</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">Mongoose is a MongoDB object modeling tool designed to work in an asynchronous environment.</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="http://mongoosejs.com/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/Automattic/mongoose"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>

            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img src="img/sio.png"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title"><strong>Socket.IO</strong></span>
                        <span class="md-subhead">Real-time engine</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-content>
                    <p class="md-body-1">Socket.IO enables real-time bidirectional event-based communication.
                        It works on every platform, browser or device, focusing equally on reliability and speed.</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button" href="http://socket.io/"><md-icon>home</md-icon></md-button>
                    <md-button class="md-icon-button" href="https://github.com/socketio/socket.io"><md-icon>code</md-icon></md-button>
                </md-card-actions>
            </md-card>

        </div>

    </div>

</div>